<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xdu.mapper.DepartmentMapper">

    <resultMap id="departmentResultMap" type="department">
        <result property="mallId" column="mall_id" />
    </resultMap>

    <select id="selectByPageAndCondition" resultMap="departmentResultMap">
        select *
        from tb_department
        <where>
            <if test="department.mallId != null and department.mallId != '' ">
                and mall_id = #{department.mallId}
            </if>
        </where>
        limit #{begin} , #{size}
    </select>

    <select id="selectTotalCountByCondition" resultType="java.lang.Integer">
        select count(*)
        from tb_department
        <where>
            <if test="mallId != null and mallId != '' ">
                and mall_id = #{mallId}
            </if>
        </where>
    </select>


</mapper>